body {
    background-color: #eeeeee;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

p {
    text-align: left;
}

nav {
    border-bottom: 1px solid #d5d5d5;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li img {
    vertical-align: middle;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #022;
}

h2, h3, h4, h5, h6 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #404040;
}

ul {
    text-align: left;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: #025;
}

a:hover {
    text-decoration: underline;
}
