body {
    background-color: #ffffee;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #022;
}

h2, h3, h4, h5, h6 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #404040;
}

.plot {
    background-color: #fff;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    border-radius: 15px;
}

.click-circle {
    fill: black;
}

.red-circle {
    fill: red;
}

.blue-circle {
    fill: blue;
}
