{{> nav }}

<body>
    <h1>DBSCAN Clustering</h1>

    <h2>Interactive DBSCAN clustering.</h2>

    <div class="plot-container">
        <svg class="plot"></svg>

        <form id="dbscan-toolbar" class="toolbar">
            <label for="dbscan_eps">Eps:</label>
            <input type="range" id="dbscan_eps" min="1" max="200" value="50" />
            <label for="dbscan_min_count">Min count:</label>
            <input type="number" id="dbscan_min_count" min="1" value="3" />
            <input type="submit" value="Cluster" />
        </form>
    </div>

    <p>
        The above lets you test out a DBSCAN Classifier. Click to
        add new data points and hit 'Classify' to run the classifier.
    </p>
</body>

{{> footer }}

<script src="js/d3.min.js"></script>
<script src="js/chart.js"></script>
<script src="js/jquery-3.1.0.js"></script>

<script>
createScatter();

$( '#dbscan-toolbar' ).submit( ( event ) => {
    var dataPoints = d3.select('svg').selectAll('circle').size();
    var dbscanEps = parseFloat($('#dbscan_eps').val());
    var dbscanMinCount = parseFloat($('#dbscan_min_count').val())

    if (dataPoints > 0) {
        clusterData('dbscan', { eps : dbscanEps, minCount: dbscanMinCount });
    }

    event.preventDefault();
});
</script>
