{{> nav }}

<body>
    <h1>Learning Machines</h1>

    <h2>Interactive tutorials on machine learning.</h2>
    
    <p>
        This website is built to provide some interactive introductions to machine learning.
        It is also built entirely with <a href="https://www.rust-lang.org/en-US/">Rust</a> - including the
        machine learning backend which is powered by <a href="https://github.com/AtheMathmo/rusty-machine">rusty-machine</a>.
    </p>

    <p>
        Hopefully these tutorials can provide some insight into how some common machine learning
        techniques work under the hood. <i>The site is currently under development and only offers
        some basic interactive tools.</i> 
    </p>

    <h4>Here is what exists so far:</h4>
    <ul>
        <li><a href="/mlintro">Introduction (WIP)</a></li>
        <li><a href="/kmeans">K-Means Clustering (WIP)</a></li>
        <li><a href="/dbscan">DBSCAN Clustering (WIP)</a></li>
    </ul>

</body>

{{> footer }}
