{{> nav }}

<body>
    <h1>K Means Clustering</h1>

    <p>
        The K-Means Clustering algorithm provides a way to group together <i>similar</i> data points.
        This similarity can be measured using any metric but Euclidean Distance is most commonly used.
    </p>

    <p>
        The algorithm works roughly as follows:
    </p>

    <ol>
`       <li>Initialize the centers of each cluster.</li>
        <li>Assign each data point to its closest cluster.</li>
        <li>Update the cluster centers according to the new assignments.</li>
        <li>Repeat steps 2 and 3 until convergence.</li>
    </ol>

    <h2>Interactive K-Means clustering.</h2>
    
    <div class="plot-container">
        <svg class="plot"></svg>

        <form id="kmeans-toolbar" class="toolbar">
            <label for="kmeans_clusters">K:</label>
            <input type="number" id="kmeans_clusters" min="1" value="2" max="20" />
            <input type="submit" value="Cluster" />
        </form>
    </div>

    <p>
        The above lets you test out a K-Means Classifier. Click to
        add new data points and hit 'Classify' to run the classifier.
    </p>
</body>

{{> footer }}

<script src="js/d3.min.js"></script>
<script src="js/chart.js"></script>
<script src="js/jquery-3.1.0.js"></script>

<script>
createScatter();

$( '#kmeans-toolbar' ).submit( ( event ) => {
    var dataPoints = d3.select('svg').selectAll('circle').size();
    var clusterCount = parseFloat($('#kmeans_clusters').val());
    if (dataPoints < clusterCount) {
        alert('There cannot be less data points than clusters.');
    } else {
        clusterData('kmeans', { k : clusterCount });
    }

    event.preventDefault();
});
</script>
