{{> nav }}

<body>
    <h1>K Means Clustering</h1>

    <h2>Interactive K-Means clustering.</h2>
    
    <svg class="plot"></svg>

    <form id="kmeans-toolbar" class="toolbar">
        <label for="kmeans_clusters">K:</label>
        <input type="number" id="kmeans_clusters" min="1" value="2" max="20" />
        <input type="submit" value="Cluster" />
    </form>

    <p>
        The above lets you test out a K-Means Classifier. Click to
        add new data points and hit 'Classify' to run the classifier.
    </p>
</body>

{{> footer }}

<script src="js/d3.min.js"></script>
<script src="js/chart.js"></script>
<script src="js/jquery-3.1.0.js"></script>

<script>
createScatter();

$( '#kmeans-toolbar' ).submit( ( event ) => {
    var dataPoints = d3.select('svg').selectAll('circle').size();
    var clusterCount = parseFloat($('#kmeans_clusters').val());
    if (dataPoints < clusterCount) {
        alert('There cannot be less data points than clusters.');
    } else {
        clusterData('kmeans', { k : clusterCount });
    }

    event.preventDefault();
});
</script>
